<section class="home-block-1">
    <div class="container home-block">
        <div class="row">
            <div class="col-md-6 home-block-1__description">
                <h2 class="home-block-1__title">@@home-block-title</h2>
                <p class="home-block-1__content">@@home-block-content</p>
                <div class="home-block-1__buttons-container">
                    <partial src="_button.html" button-class="button button--orange" text="LET&#39;S TALK"></partial>
                    <partial src="_button.html" button-class="button button--orange-transparent" text="Request Samples"></partial>
                </div>    
            </div>

            <div class="col-md-6 home-block-1__video">
                <img src="../../assets/img/video-screenshot.jpg" alt="Video" class="responsive-image">                    
            </div>    
        </div>
    </div>
</section>