<section class="home-block-3">
    <div class="container home-block">
        
        <!-- Title -->
        <partial src="_home-block-title.html" home-block-title="FEATURED PRODUCTS"></partial>

        <div class="row">
            <div class="col-md-3 home-block-3__description">
                <img src="@@img-src-1" class="responsive-image">
                <a href="#" class="home-block-3__content">@@home-block-product-name-1 ></a>
            </div>
            <div class="col-md-3 home-block-3__description">
                <img src="@@img-src-2" class="responsive-image">
                <a href="#" class="home-block-3__content">@@home-block-product-name-2 ></a>
            </div>
            <div class="col-md-3 home-block-3__description">
                <img src="@@img-src-3" class="responsive-image">
                <a href="#" class="home-block-3__content">@@home-block-product-name-3 ></a>
            </div>
            <div class="col-md-3 home-block-3__description">
                <img src="@@img-src-4" class="responsive-image">
                <a href="#" class="home-block-3__content">@@home-block-product-name-4 ></a>
            </div>
        </div>     
    </div>
</section>
