//No es necesario, solo si uso placeholder en _home-block.scss en lugar de class o sea: &home-block. 
//Pero debo incluir extend a cada uno de los anidados

// .hom-block {  
// 	@extend .home-block;
// }


// Con placeholders es así y si es necesario. Debo incluir extend a cada uno de los anidados.

// .home-block {  
// 	@extend .home-block;
// }


// Heading Tags
$h1: 32px;
$h2: 30px;


.home-block h1 {
	@extend %h-tags;
	font-size: $h1;

}

.home-block h2 {
	@extend %h-tags;
	font-size: $h2;
}
