// Spacing
$gutter: 30px;
$gutter-1: $gutter / 2;
$gutter-2: $gutter;
$gutter-3: $gutter * 1.5;
$gutter-4: $gutter * 2;
$gutter-5: $gutter * 3;
$gutter-6: $gutter * 4;
$gutter-7: $gutter * 5;
$gutter-8: $gutter * 6;

// Layouts
$header-height: 80px;
$button-hover-opacity: .9;

// Colors
$white: #fff;
$black: #000;
$black-1: #4d4d4d;
$blue-1: #0079bf;
$blue-2: #0079bf;
$green-1: #61bd4f;
$red-1: #e35949;
$red-2: #de7d72;
$purple-1: #7c8fcf;
$purple-2: #5d6c9b;
$light-blue-1: #37cbe2;
$light-blue-2: #20a5ba;
$light-blue-3: #6098b9;
$light-blue-4: #a5d0eb;

// Font
$helvetica: "Helvetica Neue", Arial, sans-serif;
$font-default: $helvetica;
$font-size-default: 15px;
$font-bold: 600;
$font-light: 300;


